.user__info-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user__info-box{
    
} 
.user__info-box a{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color:#e50c6e;
}